*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #f6f9ff;
    color: #444444;
    /* overflow: hidden; */
}
body::-webkit-scrollbar{
    display: block;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: 1;
    padding: 10px 15px;
    font-size: 15px;
    background-color: #fff;
    box-shadow: 0 0px 20px rgba(1,41,112,0.1);
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav-bar div{
    display: flex;
    flex-direction: row;
}
.nav-icons{
    font-size: 22px;
    color: #012970;
}
.nav-1{
    flex: 1.5;
    gap: 10px;
    align-items: center;
}
.nav-2{
    flex: 2;
    position: relative;
    gap: 20px;
    align-items: center;    
}
.nav-3{
    flex: 3;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}
.logo{
    width: 26px;
    height: 25px;
}
.logo-span{
    font-size: 26px;
    margin: 0;
    color: #012970;
    font-family: "Nunito", sans-serif;;
    font-weight: 600;
}
.search-icon{
    position: absolute;
    right: 10px;
    top: 25%;
    color: #012970;
}
.profile-div{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.icon-bg{
    padding: 5px 6px;
    font-size: 9px;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    top: -30%;
    right: -40%;
}
.bell-icon{
    position: relative;
}
.bell-bg{
    background-color:  rgba(13, 110 ,253, 1) !important;
}
.chat-icon{
    position: relative;
}
.chat-bg{
    background-color: rgba(25, 135, 84 ,1);
}
.profile-img{
    width: 36px;
    height: 36px;
    border-radius: 50px;
}
.dropdown-class{
    color: #012970;
    font-size: 15px;
}
.dropdown-class:hover{
    text-decoration: none;
    color: #012970;
}
.dpdwn{
    position: relative;
}
.dpdwn-menu{
    position: absolute !important;
    left: -150% !important;
    top: 40px !important;
    width: 250px;
    padding: 10px 10px 0 10px !important;
    color: #444444;
}
.dpdwn-menu li {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.li-border{
    border-top: 1px solid rgba(0, 0, 0, 0.175);
}
.name-li{
    justify-content: center;
}
.name-div{
    display: flex;
    flex-direction: column !important;
    padding: 5px;
    text-align: center;
}
.name-span{
    font-size: 18px;
}  
.post-span{
    font-size: 14px;
    color: #6c757d;
}


.sidebar{
    position: fixed;
    top: 57.14px;
    left: 0;
    bottom: 0;
    padding: 5px 10px 0 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(1, 41, 112, 0.1);
    width: 280px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: none;
    color: #012970;
    font-size: 14px;
    cursor: pointer;
}
 .sbd-list-btn{
    padding: 10px 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font: 15px;
 }
 .sbd-list-btn a{
    color: #012970;
 }
 .sbd-list-btn:hover{
    background-color: #f6f9ff;
 }
 .sbd-list-btn:hover *{
        color: #4154f1;
 }
.sidebar-list{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.sbd-list-icon{
    color: #899bbd;
    font-size: 15px;
    padding-right: 5px;
    /* display: flex;
    justify-content: center; */
}
.dropdown a{
    color: #012970;
}
.sbd-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.2px;
}
.sbd-link:hover{
    text-decoration: none;
}
.sidebar-dpdwn{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.page-span:hover{
    cursor: default;
}
.page-span span{
    font-size: 13px;
    color: #899bbd;
}
.fa-chevron-down{
    float: right;
}
.sdb-menu li{
    padding: 10px 0 10px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.sdb-menu li:hover{
    color: #4154f1;
}
.fa-circle{
    font-size: 5px;
}

#forms{
    margin: 60px 0 0 300px;
    padding: 20px 30px 50px 30px;
    background-color: #f6f9ff;
    scroll-margin-top: 80px;
}
#form-link{
    color: #012970;
}
#form-link:hover{
    text-decoration: none;
    color: #4154f1;
}
form{
    padding: 0 20px 20px 20px;
    background-color: #fff;
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(1,41,112,0.1);
}
form div{
    margin-top: 10px;
}
.form-heading{
    font-size: 24px;
    color: #012970;
}
.breadcrumb{
    background-color: #f6f9ff !important;
    padding-left: 0 !important;
}

.breadcrumb-item a:not(.active a){
    color: #899bbd !important;
    font-size: 14px !important;
}
.active a{
    color: #51678f !important;
}
.vert-form{
    padding: 20px 0 15px 0;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}
label{
    font-weight:  400 !important;
}
.btn-primary{
    background-color: #0d6efd !important;
    font-size: 16px !important;
}
.btn-secondary{
    background-color: #6c757d !important;
    color: #fff !important;
    font-size: 16px !important;
}

#tables{
    margin: 60px 0 0 300px;
    padding: 20px 30px 50px 30px;
    background-color: #f6f9ff;
    scroll-margin-top: 80px;
}
#table-link{
    color: #012970;
}
#table-link:hover{
    text-decoration: none;
    color: #4154f1;
}
.table-div{
    background-color: #fff !important;
    width: fit-content;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(1,41,112,0.1);
    word-wrap: break-word !important;
    font-size: 14px;
}
.table-heading{

    padding: 20px 20px 15px 20px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #012970;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.table-heading h3{
    margin: 0 !important;
}
.new-btn{
    border: none;
    padding: 10px !important;
    height: fit-content !important;
    background-color: #0d6efd;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
.new-btn:hover{
    color: #fff;
}
/* tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
    padding: 0 20px !important;
}
.row-5{
    border-bottom: none;
}
th, td{
    padding: 5px 10px !important;
    text-align: center;
}
td{
    white-space: wrap;
} */
.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0 0 0 !important;
}
.buttons button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}
.edit{
    background-color: green; 
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}
.edit:hover{
    color: #fff;
}
.delete{
    background-color: red;
}



footer{
    margin-left: 300px;
    width: calc(100% - 300px);
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 20px 0;
    border-top:  1px solid #cddfff;
    background-color: #f6f9ff;
    gap: 5px;
    font-size: 14px;
}
.copyright{
    font-size: 14.5px;
}
footer span a{
    color: #4154f1
}

.login-page-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 65%;
    min-height: 100vh;
    margin: 0 auto;
    gap: 100px;
    background: none;
    box-shadow: none;
    animation: fadeSilde 1s ease-in-out;
}
@keyframes fadeSlide{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.login-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.login-page{
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 100% !important;
  gap: 20px;
}
.logo-span-login{
    color: #012970;
    font-size: 24px;
    font-weight: 600;
}
.login-heading{
    font-weight: bold;
    color: #1E6F96;
    letter-spacing: 1px;
    text-shadow: 
        0 0 5px rgba(30,111,150,0.5),
        0 0 6px rgba(30,111,150,0.4);
    display: flex;
    justify-content: center;
}
.login-heading-span{
    color: #012970;
    font-size: 16.5px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.login-page-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.flipkart-admin-logo{
    width: 250px;
    height: auto;
    animation: floatLogo 3s ease-in-out infinite;
}
@keyframes floatLogo{
    0%{ transform: translateY(0px); }
    50%{ transform: translateY(-15px); }
    100%{ transform: translateY(0px); }
}
.login-info-div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login-inputs{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 5px;
    padding-left: 10px;
}
.login-inputs:focus{
    outline: none !important;
    border: 1px solid #86b7fe !important;
    box-shadow: 0 0 0 4px rgba(13,110,253,.25);
}
.forgot-pwd{
  color: #0F5C7C;
}
.forgot-pwd:hover{
    color: #0F5C7C;
}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 10px;
    background-color: #0F5C7C;
    color: white;
    outline: none;
    border: 1px solid #0F5C7C;
    font-size: 16px;
    font-weight: bold;
}
.submit-btn:hover{
    background-color: #2C86B0;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    border: none;
}
.all-div{
    margin: 80px 0 0 300px;
    padding-right: 30px;
    width: calc(100% - 300px);
    box-sizing: border-box;
}

.profile-h3{
    margin: 0;
    color: #012970;
}
.profile-page-details{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100% !important;
    gap: 20px;
    align-items: center;
    margin-bottom: 100px;
}
.profile-page-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 20px 50px;
    background-color: #fff;
    border-radius: 10px;
    flex:  0 0 280px;
    max-width: 280px;
    /* width: fit-content; */
    box-shadow: 0 0 20px rgba(1,41,112,0.1);
    color: #012970;
}
.profile-page-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile-page-name{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.profile-page-userinfo{
    padding: 20px 30px;
    background-color:  #fff;
    box-shadow: 0 0 20px rgba(1,41,112,0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    flex: 1;
    width: 650px;
    min-width: 0;
    max-width: 100%;
    /* width: 135% !important; */
}
.profile-details-h4{
    font-size: 22px;
    background-color: #012970;
    color: #fff;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
}
.profile-details{
    width: 100%;
}
.profile-span{
    font-size: 16px;
    color: rgba(1, 41, 112, 0.7);
    font-weight: 600 !important;
   
}
.profile-span-static{
    width: 144px !important;
}
.profile-info{
    font-size: 16px;
    display: flex;
    flex: 1;
    min-width: 0;
    width: 100%;
    margin-left: 50px;
}
.profile-flex-div{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.edit-profile{
    background-color: #012970;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transform: translateX(225%);
}

.edit-profile-div{
    width: 100% !important;
}
.radio-div{
    display: flex;
    align-items: center !important;
        width: 100%;
    padding: 10px;
    gap: 10px;
}
.radio-inputs{
    margin-top: 0 !important;
}
.radio-inputs-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px
}
.radio-label-span{
    margin-bottom: 0 !important;
}
.edit-inputs{
    width: 100%;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
}
.edit-inputs:focus{
    outline: none !important;
    border: 1px solid #86b7fe !important;
    box-shadow: 0 0 0 4px rgba(13,110,253,.25);
}
.handle-inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.image-input{
    display: inline-block !important;
}

/* .address-div{
    display: flex;
} */
.edit-address{
    height: 70px;
    padding: 0 10px;
    overflow-y: scroll;
}
.cart-row{
    text-align: left !important;
    width: 100%;              
    max-width: 100%;
    white-space: wrap;      
    
    /* word-break: break-word;  */
}

/* manage admin */

.table-heading-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.button-heading-div{
    display: flex;
    flex-direction: row;
    gap: 30px;
    
}
/* .admin-table-div{
    padding: 0px 0px 50px 0;
} */
 .customer-table{
    table-layout: fixed;
    width: 100%;
    min-width: 1000px;
    border-collapse: collapse;
 }
 .product-row{
    text-align: left !important;
    width: 25%;              /* adjust as needed */
    max-width: 25%;
    white-space: normal;       /* allow wrapping */
    word-break: break-word; 
}
.email-row{
    text-align: left !important;
    width: 80% !important;              /* adjust as needed */
    max-width: 80% !important;
    white-space: normal;       /* allow wrapping */
    word-break: break-word;   
}

.address-row{
    text-align: left !important;
    width: 50% !important;              /* adjust as needed */
    max-width: 50% !important;
    white-space: normal;       /* allow wrapping */
    word-break: break-word;   
}
.admin-add-btn{
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(1,41,112,0.2);
    color: #012970;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    height: fit-content;
}
.admin-table{
    border-collapse: separate;
    border-spacing: 0;
    font-size: 14px;
    border-radius: 10px !important;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(1,41,112,0.2);
    width: 100%;
}
.admin-head{
    background-color: #012970;
}
.admin-head th{
    font-weight: normal;
    color: #fff;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}
.admin-table td{
    color: #012970;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}
.view-details-btn{
    border: none;
    background-color: #012970;
    color: #fff;
    border-radius: 50px;
    padding: 5px 10px;
}
/* .admin-btn-td{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
} */
 /* .admin-inputs{
    width: 82.5%;
 } */
.admin-edit{
    background-color: #012970;
    color: #fff;
    border: none;
    padding: 5px 7px;
    border-radius:  5px;
    font-size: 11px;
}
/* .admin-name-td{
    width: 15% !important;
}
.admin-address-td{
    width: 30% !important;
} */

.add-admin-div{
    padding: 10px 30px 30px 20px;
}
.add-data-div{ 
    padding: 20px 30px;
    background-color:  #fff;
    box-shadow: 0 0 20px rgba(1,41,112,0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.add-admin-btn-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.add-admin-btn{
    background-color: #012970;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.category-table{
    width: 100%;
}
.category-btns{
    justify-content: center;
    
}
.category-btns:hover *{
    color: #fff;
}
.row-align{
    width: 10%;
    max-width: 10%;
}
.table-container{
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
}
.table-container::-webkit-scrollbar {
    height: 8px;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.product-table{
    width: 100%;
    min-width: 1000px;
    white-space: nowrap;
}
.cart-table{
    width: 100%;
    min-width: 1300px;
    white-space: nowrap;
}
.cart-row{
    width: 50%;
    max-width: 50%;
    word-wrap: break-word;
    white-space: normal;
}

/* .product-name-td{
    width: 20%;
}
.product-warranty-td{
    width: 20%;
}
.product-desc{
    width: 50%;
}
.product-btn-td{
    width: 100px;
} */

.product-edit{
    margin-right: 5px;
}
.trn-product-name{
    width: 40%;
}
.trn-btn{
    width: 10%;
}
.change-pwd-div{
    padding: 20px 30px;
    background-color:  #fff;
    box-shadow: 0 0 20px rgba(1,41,112,0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
}
/* .pwd-inputs{
    width: 83.5% !important;
} */
.aboutus-img-input{
    width: 83.5%;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
}
.aboutus-section-two-div{
    margin-bottom: 70px;
}
.aboutus-submit-btn{
    transform:  translateX(500%) !important;
}
.admin-image{
    cursor: pointer;
}
.image-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-image{
    max-width: 90%;
    max-height: 90%;
    border-radius: 6px;
}

.close-admin-image{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 32px;
    color: grey;
    cursor: pointer;
    font-weight: bold;
}

.status-switch{
    position: relative;
    width: 46px;
    height: 22px;
    display: inline-block;
}

.status-switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
}

.slider:before{
    position: absolute;
    left: 2px;
    bottom: 2px;
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.3s;
}

input:checked + .slider{
    background-color: #108934;
    
}

input:checked + .slider:before{
    transform: translateX(24px);
}

.admin-search-btn{
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(1,41,112,0.2);
    border: 1px solid rgba(1,41,112,0.2);
    color: #012970;
    /* border: none;s */
    border-radius: 5px;
    padding: 10px 15px;
    height: fit-content;
    width: 40%;
    margin-bottom: 20px;
}
.admin-search-btn::placeholder{
    color: #012970;
}
.admin-search-btn:focus{
    outline: none !important;
    border: 1px solid #86b7fe !important;
    box-shadow: 0 0 0 4px rgba(13,110,253,.25);
}

.dashboard{
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.dashboard-divs{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    color: #012970;
    padding:30px 0;
    background: #fff;
    box-shadow: 0 10px 10px rgba(1,41,112,0.1);
    border-radius: 10px;
    cursor: pointer;
    animation: fadedashboard 1s ease-out;
}

@keyframes fadedashboard {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.dashboard-divs:hover{
    transform: scale(1.15);
    color: #012970;
    box-shadow: 0 0 15px rgba(1,41,112,0.3);
    transition: transform 0.25s ease-out;
}
.dashboard-icon{
    font-size: 25px;
}

.back-button{
    border: none;
    background-color: #012970;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 18px;
}